*,html{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    height: 15vh;
    column-gap: 30vw;
}


li{
    display: flex;
    align-items: flex-end;
    column-gap: 50px;
}

a{
    text-decoration: none;
    font-size: 2rem;
    color: red;
    text-shadow: 5px 3px 5px black;;
}


.swiper {
    border-top: 2px solid black;
    margin-top: 20vh;
    width: 100%;
    height: 250px;
  }

  .swiper-button-next{
      margin-right: 1vw;
  }

  .swiper-button-prev{
    margin-left: 1vw;
}

  .swiper-slide{
      display: flex;
      align-items: center;
      margin-left: 30%;
  }

  q{
      font-size: 1.5rem;
  }
  

  footer {  
    background-color: red;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 140px;   /* Height of the footer */
    margin-left: -0.5%;
  }
  .claimer {
    margin-left: 85%;
    color: #EEEEEE;
    margin-top: -4%;
  }

.adres {
    color: #EEEEEE;
    padding: 0.75%;
}

.contact {
    margin-left: 85%;
    margin-top: -7.4%;
    color: #EEEEEE;
}

#knop {
    background-color: black;
    color: white;
    border: solid black 3px;
}

