*,html{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    height: 15vh;
    column-gap: 50vw;
}

li{
    display: flex;
    align-items: center;
    column-gap: 50px;
}

a{
    text-decoration: none;
}